*{
	font-family: sans-serif;
}

body{
	width: 80%;
	margin: auto;
}

h1{
	text-align: center;
}

nav{
	background-color: skyblue;
	color: #fff;
	margin: auto;
	text-align: center;
	font-size: 2em;
	line-height: 2.5em;
}

section{
	background-color: #eee;
	padding: 1em;
}

section article{
	border-bottom: 1px solid #ccc;
	margin-bottom: 3em;
}

.stiky{
	position: fixed;
	top: 0;
	width: 80%;
}